.containerr {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    scale: .9;

    &>svg {
        position: relative;
        scale: 25;
    }

    .alert {
        position: absolute;
        top: 30px;
        color: rgb(238, 47, 47);
        scale: 9;
        right: 100px;
    }

    .texts {
        position: relative;
        margin-top: 200px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 50px;

        &>p>a {
            text-decoration: none;
            color: rgb(58, 143, 255);
            font-weight: bolder;
            font-size: larger;

            &:hover {
                text-decoration: underline;
            }
        }

        .btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #1E2022;
            background-color: white;
            padding: 0px 20px;
            border-radius: 6px;
            scale: .9;

            svg {
                padding: 0 10px 0 0;
                scale: 1.3;
            }
        }
    }
}